
<ion-view view-title="register" name="register-view">
  <ion-content class="padding">
     
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label" ng-model="data2.username">Phone number</span>
    <input type="text" placeholder="John">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label" ng-model="data2.lname">email</span>
    <input type="text" placeholder="Suhr">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label" ng-model="data2.username">password</span>
    <input type="text" placeholder="john@suhr.com">
    <button class="button button-block button-calm" ng-click="FILL THE METHOD()">Register</button>

  </label>
</div>

          
  </ion-content>
</ion-view>