
<ion-view view-title="register" name="register-view">
  <ion-content class="padding">
     
    
 <div class="list"  ng-app="starter" ng-controller="regCtrl">
  
 
  Phone number
    <input type="text" ng-model="data.phoneno" placeholder="000 000 00 ">
 
 
   email    <input type="text" placeholder="example@example.com"  ng-model="data.email">

  password
    <input type="password" placeholder="****" ng-model="data.password" >
    <button class = "button button-calm" ng-click = "getdata()">Register</button>
<br/>
<br/>
   
   </label>
   <br/>

   <br/>

 
</div>
          
  </ion-content>
</ion-view>