
<ion-view view-title="register" name="register-view">
  <ion-content class="padding">
     
    
 <div class="list"  ng-app="starter" ng-controller="regCtrl">
  
 
  Phone number
    <input type="text" ng-model="data.phoneno" placeholder="000 000 00 " required="please fill all the fields"/>
 
 
   email    <input type="text" placeholder="example@example.com"  ng-model="data.email"   required="please fill all the fields"/>

  password
    <input type="password" placeholder="****" ng-model="data.password"  required="please fill all the fields"  />
    <button class = "button button-calm" ng-click = "registerUser()">Register</button>
<br/>
<br/>
   
   </label>
   <br/>

   <br/>

 
</div>
          
  </ion-content>
</ion-view>